.HomeContainer{
    display: flex;
    gap:55px;
    max-width: 1420px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .HomeContainer {
        display: block;
        margin: auto;
    }
  }

 

.HighlightSection{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #A2A2A2;
    display: flex;
    flex-direction: column;
    gap:32px
}

.HighlightCardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap:16px
}